body {
  font-family:'FuturaBT W05 Book';
  background-color: #424046;
}

a.ml50.sofology img {
  display: none;
}

.logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.mainlogo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

div#logosection {
  background: #efdcd7;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1.text-center {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  color: #424046;
}

a.ml50 {
  margin-left: 50px
}

.shopbtn a:hover {
  text-decoration: none;
}


h1 {
  color: black
}

.shopbtn {
  border: 2px solid #000;
  width: 141px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  padding: 7px 20px;
  position: relative;
}

.shopbtn p {
  font-size: 14px;
  font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
  color: #000;
}

.shopbtn:hover {
  background: rgba(255, 255, 255, 0.5);
}

p {
  font-size: 16px !important;
  margin-bottom: 0;
}

@media (max-width: 1029px) {

  a.ml50 {
    margin-left: 0px;
  }

}

@media (max-width: 680px) {

  .mainlogo img {
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 666px) {

  .mainlogo img {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 520px) {

  .mainlogo img {
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 160px;
    text-align: center;
  }


}


/* Cookie Policy */

section#CookieConsent {
  position: fixed;
  bottom: -240px;
  background: rgba(100, 100, 100, .95);
  padding: 10px 0px;
  width: 100%;
  transition: all 1.5s;
  border-top: 2px solid #fff;
  z-index: 9999
}

div.innerCC {
  position: relative;
  width: 1224px;
  margin: 0 auto;
  padding: 0 50px;
}

a#closeCCButton {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
  background: #FFF;
  color: #000;
  font-family: HelveticaNeueW01-75Bold, Arial, sans-serif;
  font-size: 18px;
  padding: 10px 30px;
  box-shadow: 2px 2px 7px 2px #585858;
  transition: all 1s
}

a#closeCCButton:hover {
  background-color: #333;
  color: #fff;
}

a#closeCCButton span {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 11px;
}

section#CookieConsent h2 {
  color: #fff;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  margin: 10px 0;
  font-size: 24px
}

section#CookieConsent p {
  padding: 0;
  text-align: left;
  line-height: 24px;
  width: 860px;
  color: #fff;
  font-size: 14px
}

section#CookieConsent p a {
  color: #fff;
  text-decoration: underline
}

section#CookieConsent p a:hover {
  text-decoration: none
}

@media (max-width: 1365px) {
  div.innerCC {
    width: 984px;
  }

  section#CookieConsent p {
    width: 700px;
  }

}


@media (max-width: 960px) {
  div.innerCC {
    width: 100%;
  }
  section#CookieConsent p {
    width: 100%;
  }

  a#closeCCButton {
    top: -69px;
    background: rgba(100, 100, 100, .95);
    color:#fff;
    box-shadow: none;
    border: 2px solid #fff;
    border-bottom:none;
  }

}